<html>
<head>
    <title>
        Filter
    </title>
    <link rel="stylesheet" href="~/css/table.css" />
    <link rel="stylesheet" href="~/css/search-button.css" />
</head>
<body>
<div style="align-content: center" id="root"></div>
@section emailScript
{
    <script src="~/react/dist/filterBundle.js"></script>
}
</body>
</html>