<html>
<head>
    <title>
        Inbox
    </title>
    <link rel="stylesheet" href="~/css/table.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
    <div id="root"></div>
    @section emailScript
    {
        <script src="~/react/dist/inboxBundle.js"></script>
    }
</body>
</html>