<html>
<head>
    <title>
        Inbox
    </title>
    <link rel="stylesheet" href="~/css/table.css" />
</head>
<body>
    <div id="root"></div>
    @section emailScript
    {
        <script src="~/react/dist/inboxBundle.js"></script>
    }
<footer class="border-top footer text-muted">
    <div style="font-family: 'Abril Fatface', cursive; text-align: center; color: darkslategray" id="address" class="container">
        Sashanator
    </div>
</footer>
</body>
</html>